<nav class="navbar navbar-expand-lg navbar-transparent">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Fitness Project v1.0</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0"> <!-- Added ms-auto class here -->
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="login">Iniciar Sesión</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="crear-cuenta">Crear Cuenta</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<section class="view seccion">
    <div class="container-fluid contenedorPrincipal">
        <div class="col descContenedor">
            <div class="row filaTitulo">
                <h1 class="titulo">Lorem ipsum dolor sit amet</h1>
            </div>
            <hr class="separador">
            <div class="row filaDescripcion">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In fringilla ullamcorper massa, ac auctor diam commodo sed. 
                    Suspendisse consequat gravida leo non aliquam. Ut aliquam ut nunc vel laoreet. 
                    In vel augue maximus, bibendum odio eu, eleifend orci. Aenean gravida cursus turpis, lobortis accumsan nunc pulvinar eget. 
                </p>
            </div>
            <div class="row">
                <button type="button" class="btn btnRegistrate">Regístrate</button>
            </div>
        </div>
    </div>
</section>