:host{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    color: white;
}

nav.navbar-transparent {
    background-color: transparent;
    position: fixed;
    top:0;
    width: 100%;
}

.navbar-brand{
    color:white;
    font-weight: 600;
}

.seccion {
    background: url("../../../assets/background3.jpg") no-repeat center center;
    background-size: cover;
    height: 100vh !important;
}

.contenedorPrincipal {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(53 42 37 / 61%);
    height: 100vh;
    text-align: center;
}

.label{
    color: white;
    padding-bottom: 3px;
}

.form-group{
    text-align: left;
}

.contenedorForm {
    background-color: #4141416b;
    padding: 30px;
    border-radius: 25px;
}

.contenedorForm form {
    width: 100%;
    margin: 0 auto;
}

.contenedorForm .form-label {
    color: white;
}

.contenedorForm .form-control {
    width: 100%;
    margin-bottom: 15px;
}

.contenedorForm button {
    width: 100%;
}

.errores {
    border: 1px solid rgb(99, 56, 56);
    border-radius: 5px;
    margin-top: 10px;
    background-color: rgb(226, 148, 148);
    font-weight: 600;
    font-size: 0.8rem;
    text-align: left;
}

.formFooter{
    color: white;
    margin: 0 auto;
    font-size: 0.8rem;
}

.formFooter a{
    opacity: 0.7;
    transition: 0.5s;
}

.formFooter a:hover{
    opacity:1;
    transition: 0.5s;
}

.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

@media screen and (max-width: 768px) {
    .contenedorForm {
      max-height: calc(100vh - 200px); /* Adjust as needed */
      overflow-y: auto; /* Enable vertical scrolling */
    }
  }

